---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Girish from '~/assets/girish.jpeg'
import GitHub from '~/assets/github.svg'
import Twitter from '~/assets/twitter.svg'
import Mail from '~/assets/mail.svg'
import Grid from '../components/Grid.astro'
import P from '../components/P.astro'
import SubHeading from '../components/SubHeading.astro'
import Heading from '../components/Heading.astro'
import Title from '../components/Title.astro'
import ExternalLink from '../components/ExternalLink.astro'
import CentralSpan from '../components/CentralSpan.astro'
import Technologies from '../components/technologies/Technologies.astro'

const job = {
  company: 'needl.ai',
  url: 'https://www.needl.ai/',
  role: 'Software Engineer',
  location: 'Bangalore, India',
  start: '2020',
  end: 'present'
}

const myDetails = {
  name: 'Girish Venkatesan',
  short: 'girish . v',
  email: 'contact@girishv.com',
  socials: [
    {
      label: 'github',
      url: 'https://github.com/girish21',
      icon: GitHub,
      description: 'GitHub profile of Girish'
    },
    {
      label: 'twitter',
      url: 'https://twitter.com/girishk21',
      icon: Twitter,
      description: 'Twitter profile of Girish'
    },
    {
      label: 'email',
      url: 'mailto:contact@girishv.com',
      icon: Mail,
      description: 'Email Girish'
    }
  ],
  links: [
    { label: 'home', url: '/' },
    { label: 'blog', url: '/blog' }
  ]
} as const
---

<Layout title="Girish V">
  <Grid Element="main">
    <CentralSpan
      class="flex min-h-[100svh] flex-col items-center justify-center gap-16 md:flex-row-reverse md:justify-between">
      <div class="pt-8 md:flex-1 md:pt-0">
        <Image
          class="mx-auto h-60 w-60 max-w-none rounded-full object-cover object-top md:h-80 md:w-80"
          width={500}
          height={500}
          src={Girish}
          alt="cover picture of girish.v"
        />
      </div>
      <div class="flex flex-col gap-4 md:flex-1">
        <Title>
          hey, i'm <span class="text-gray-400 underline">girish!</span>
        </Title>
        <SubHeading>
          currently <ExternalLink href={job.url}>
            <span class="text-gray-400">@{job.company}</span>
          </ExternalLink>
        </SubHeading>
        <P>
          I'm a passionate frontend wizard who weaves pixel-perfect spells to
          create extraordinary user interfaces for the web. When I'm not
          concocting UI magic, you'll find me spreading the joy of open source
          like a coding bard, sharing my insights with the community. With a
          touch of whimsy and a dash of technical expertise, I'm here to enchant
          users with unforgettable experiences.
        </P>
      </div>
    </CentralSpan>
    <CentralSpan class="flex flex-col gap-4 pt-12">
      <Heading>favourite technologies</Heading>
      <P>
        Welcome to the realm of my beloved technologies, a playground of digital
        brilliance. Whether it's JavaScript's dynamic wizardry, CSS's style
        sorcery, or the backend sorcerer's data enchantments, together they
        create a symphony of code that dances across the web, leaving users
        spellbound.
      </P>
      <Technologies />
    </CentralSpan>
  </Grid>
  <Grid Element="footer">
    <CentralSpan class="flex min-h-[100svh] items-center justify-center">
      <div class="flex flex-1 flex-col gap-32 md:flex-row md:justify-between">
        <div class="flex flex-col items-center gap-6 md:items-start">
          <Title as="div">{myDetails.short}</Title>
          <ul class="flex justify-center gap-4 md:self-center">
            {
              myDetails.socials.map(({ description, icon, label, url }) => (
                <ExternalLink href={url}>
                  <li>
                    <span class="sr-only">{description}</span>
                    <img
                      aria-hidden="true"
                      src={icon.src}
                      alt={`${label}`}
                      class="h-6 w-6"
                    />
                  </li>
                </ExternalLink>
              ))
            }
          </ul>
        </div>
        {
          myDetails.links.length > 0 ? (
            <div class="flex flex-col items-center gap-4 md:items-start">
              <Heading as="div">sitemap</Heading>
              <ul class="flex flex-col items-center gap-4 md:items-start">
                {myDetails.links.map(({ label, url }) => (
                  <ExternalLink href={url}>
                    <li>
                      <SubHeading as="span">{label}</SubHeading>
                    </li>
                  </ExternalLink>
                ))}
              </ul>
            </div>
          ) : null
        }
      </div>
    </CentralSpan>
  </Grid>
</Layout>
