---
import '@fontsource-variable/inter'
import '../base.css'

import { ViewTransitions } from 'astro:transitions'

import GitHub from '../assets/github.svg'
import Mail from '../assets/mail.svg'
import Twitter from '../assets/twitter.svg'

import CentralSpan from '../components/CentralSpan.astro'
import ExternalLink from '../components/ExternalLink.astro'
import Grid from '../components/Grid.astro'
import Heading from '../components/Heading.astro'
import Nav from '../components/Nav.astro'
import SubHeading from '../components/SubHeading.astro'
import Title from '../components/Title.astro'

const { title } = Astro.props

const myDetails = {
  name: 'Girish Venkatesan',
  short: 'girish . v',
  email: 'contact@girishv.com',
  socials: [
    {
      label: 'github',
      url: 'https://github.com/girish21',
      icon: GitHub,
      description: 'GitHub profile of Girish'
    },
    {
      label: 'twitter',
      url: 'https://twitter.com/girishk21',
      icon: Twitter,
      description: 'Twitter profile of Girish'
    },
    {
      label: 'email',
      url: 'mailto:contact@girishv.com',
      icon: Mail,
      description: 'Email Girish'
    }
  ],
  links: [
    { label: 'home', url: '/' },
    { label: 'projects', url: '/projects' },
    { label: 'snippets', url: '/snippets' }
  ]
}

export interface Props {
  title: string
}
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-background">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to my portfolio site, the magical kingdom where imagination meets code. It's a place where unicorns roam free, designs dance to their own beat, and websites become portals to extraordinary worlds. Get ready to be transported on a whimsical journey through the enchanted land of my creative endeavors!"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="h-full">
    <Grid as="header">
      <Nav links={myDetails.links} />
    </Grid>
    <slot />
    <Grid as="footer">
      <CentralSpan
        as="section"
        class="flex min-h-[100svh] items-center justify-center">
        <div class="flex flex-1 flex-col gap-32 md:flex-row md:justify-between">
          <div class="flex flex-col items-center gap-6 md:items-start">
            <Title>{myDetails.short}</Title>
            <ul class="flex justify-center gap-4 md:self-center">
              {
                myDetails.socials.map(({ description, icon, label, url }) => (
                  <li>
                    <ExternalLink href={url}>
                      <span class="sr-only">{description}</span>
                      <img
                        aria-hidden="true"
                        src={icon.src}
                        alt={`${label}`}
                        loading="lazy"
                        decoding="async"
                        class="h-6 w-6"
                      />
                    </ExternalLink>
                  </li>
                ))
              }
            </ul>
          </div>
          {
            myDetails.links.length > 0 ? (
              <div class="flex flex-col items-center gap-4 md:items-start">
                <Heading as="h3">sitemap</Heading>
                <ul class="flex flex-col items-center gap-4 md:items-start">
                  {myDetails.links.map(({ label, url }) => (
                    <li>
                      <ExternalLink href={url}>
                        <SubHeading as="span">{label}</SubHeading>
                      </ExternalLink>
                    </li>
                  ))}
                </ul>
              </div>
            ) : null
          }
        </div>
      </CentralSpan>
    </Grid>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      type="text/partytown"
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "6b509cc97a344aafb3f78457c356881b"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
